@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.Login {
  font-family: "Quicksand", sans-serif;
  padding: 60px 0;
  text-align: center;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.btn {
  margin: 5%;
}
